* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("images/chaise.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    /* background-size: cover; */
    height: 100vh;
    /* margin-top: 10px; */
}

nav {
    text-align: center;
    padding-top: 10px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

nav a:hover {
    border-bottom: solid 2px #000;
    padding-bottom: 1px;
}

footer {
    padding-bottom:30px;
}

footer a {
    margin-right: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

footer a:hover {
    border-bottom: solid 2px #000;
    padding-bottom: 1px;
}


.eliza {
    float: left;
    height: 100%;
    width: 40%;
    max-width: 600px;
    padding: 50px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {

}


.chatarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.3;
    resize: none;
    width: 100%;
    padding: 10px;
    /* height: 90%; */
    flex: 1;
    box-shadow: inset 3px 3px 8px #d3d3d3;
    border: 1px solid #000;
    overflow: scroll;
}

.chatarea p {
    margin-top: 0;
    margin-bottom: 4px;
}

.input-area {
    /* position: absolute;
    bottom: 20px;
    left: 10px; */
    width: 100%;
    height: 40px;
    margin-top: 10px;
    display: flex;

}

.input-container {
    flex: 1;
    margin-right: 10px;
}

.button-container {
    width: fit-content;
}

input[type=text] {
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
    font-size: 15px;
}

input[type=text]::placeholder {
    opacity: 0.5;
}

input[type=submit] {
    background-color: #e3e3e3;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    padding: 3px 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#area {
    height: 100%;
    width: 60%;
    /* position: relative; */
    float: right;
    padding: 50px;
}

/* #area img {
    position: absolute;
} */

.draggable {
    position: absolute;
}

#landing img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    max-width: 600px;
    margin-bottom: 30px;
}

#begin {

    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 25px;
  }

#adInterests p {
    margin: 2px;
    font: sans-serif;
}

.confession {
    line-height: 1.2;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
}


  .blocker {
      position:fixed;
      top:0;
      right:0;
      bottom:0;
      left:0;
      width:100%;
      height:100%;
      overflow:auto;
      z-index:1;
      padding:20px;
      box-sizing:border-box;background-color:#000;
      background-color:rgba(0,0,0,0.5);text-align:center;
    }
      
    .blocker:before {
          content:"";
          display:inline-block;
          height:100%;
          vertical-align:middle;
          margin-right:-0.05em
        }
          
    .blocker.behind {
        background-color:transparent
        }
    


        
  